<select class="form-select" aria-label="Default select example"(ngModelChange)="setCompetitionName($event)" 
[(ngModel)]="selectedCompetitionName">
  <option value="LNB">LNB</option>
  <option value="Liga Prvaka - PlayOff">Liga Prvaka - PlayOff</option>
  <option value="Premier League">Premier League</option>
  <option value="Europa League - Playoff">Europa League - Playoff</option>
  <option value="Super Liga - Championship - Playoff">Super Liga - Championship - Playoff</option>
  <option value="Svjetsko Prvenstvo">Svjetsko Prvenstvo</option>
  <option value="Wimbledon">Wimbledon</option>
</select>